aiohttp
aiosignal
altair
anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-timeout
attrs
backcall
beautifulsoup4
bleach
blinker
cachetools
certifi
cffi
charset-normalizer
click
comm
dataclasses-json
debugpy
decorator
defusedxml
entrypoints
executing
faiss-cpu
fastjsonschema
fqdn
frozenlist
gitdb
GitPython
greenlet
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
isoduration
jedi
Jinja2
jsonpointer
jsonschema
jupyter_client
jupyter_core
jupyter-events
jupyter_server
jupyter_server_terminals
jupyterlab-pygments
langchain
markdown-it-py
MarkupSafe
marshmallow
marshmallow-enum
matplotlib-inline
mdurl
mistune
multidict
mypy-extensions
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
openai
openapi-schema-pydantic
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
pip
platformdirs
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyarrow
pycparser
pydantic
pydeck
Pygments
Pympler
PyPDF2
pyrsistent
python-dateutil
python-dotenv
python-json-logger
pytz
pytz-deprecation-shim
PyYAML
pyzmq
requests
rfc3339-validator
rfc3986-validator
rich
Send2Trash
setuptools
six
smmap
sniffio
soupsieve
SQLAlchemy
stack-data
streamlit
streamlit-chat
tenacity
terminado
tinycss2
toml
toolz
tornado
tqdm
traitlets
typing_extensions
typing-inspect
tzdata
tzlocal
uri-template
urllib3
validators
wcwidth
webcolors
webencodings
websocket-client
wheel
yarl
zipp
